.sunset {
	background-image: url(../../img/sunset.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.sunset__content {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.sunset__title {
	padding-top: 260px;
	margin: 0;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 0.14em;
	text-transform: uppercase;
	color: #fff;
}

.sunset__descr {
	width: 298px;
	margin: 0;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 143%;
	color: #c0c0c0;
	padding-bottom: 200px;
}
